{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}
            {% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2>
            Категорія:
            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
        </h2>
        {% if request.user.is_superuser %}
        <h2><a href="{% url "shop:product_edit" product.id product.slug %}">Редагувати</a></h2>
        <h2><a href="{% url "shop:product_remove" product.id product.slug %}">Видалити</a></h2>
        {% endif %}
        <p class="price">${{ product.price }}</p>
        <form method="post">
            {{ cart_product_form }}
            {%  csrf_token %}
            <input type="submit" value="Add to cart" id="add_cart_submit">
        </form>
        {{ product.description|linebreaks }}
    </div>
    <script>
        let addCart = document.getElementById('add_cart_submit')
        addCart.onclick = function()
            {
                let quantity = document.getElementById('id_quantity')
                let update = document.getElementById('id_update')
                let csrf = document.getElementsByName('csrfmiddlewaretoken')[0]

                let formData = new FormData()
                formData.append(quantity.name, quantity.value)
                formData.append(update.name, update.value)
                formData.append(csrf.name, csrf.value)

                var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function()
                    {
                        if(xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        {
                            alert('Товар додано до корзини.')
                        }
                    }
                xmlHttp.open("POST", "{% url 'cart:cart_add' product.id %}");
                xmlHttp.setRequestHeader("X-CSRFToken", csrf.value)
                xmlHttp.send(formData);
        }
    </script>
{% endblock %}