{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HT_19</title>
    <link rel="stylesheet" href="{% static 'stories/style.css' %}">
</head>
<body>
    {% if saved_status == 'success' %}
        <div class="alert success">
          <span class="closebtn">&times;</span>
          <strong>Success!</strong> Stories saved in database!
        </div>
    {% elif saved_status == 'error' %}
        <div class="alert">
          <span class="closebtn">&times;</span>
          <strong>Eror!</strong> Wrong type specified or other error.
        </div>
    {% endif %}
    <div class="dropdown">
      <button class="dropbtn">Stories</button>
      <div class="dropdown-content">
        <a href="{% url 'stories:stories_write' 'ask' %}" methods="">Ask</a>
        <a href="{% url 'stories:stories_write' 'show' %}">Show</a>
        <a href="{% url 'stories:stories_write' 'new' %}">New</a>
        <a href="{% url 'stories:stories_write' 'job' %}">Job</a>
      </div>
    </div>
</body>
<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>
</html>